use 'module:jdk/http' with
  'java:java.io' stand-alone
  'java:java.lang' stand-alone
  'java:java.net' stand-alone
  'java:com.sun.net.httpserver' stand-alone
provided

include 'server'

$server/config -> !http/startServer&{port: 8080, name: 'localhost'}
