//requires 'java:io.undertow'
//requires 'java:io.undertow.server'
//requires 'java:io.undertow.util'

include 'private'

sink startServer&{port:,name:}
  def server: $ -> createHandler -> createServer&{port: $port, name: $name};
  $server::start -> !VOID
end startServer
