// require 'java:com.sun.net.httpserver'
// require 'java:java.net'
// require 'java:java.io'
// require 'java:java.lang'

include 'internal'

sink startServer&{port:,name:}
  def server: [[$name, $port] -> net/InetSocketAddress, 0] -> httpserver/HttpServer::create;
  ['/', $ -> RoutingContext] -> server::createContext -> !VOID
  $server::start -> !VOID
end startServer
